table, th,td {
    border-collapse: collapse;
    border: 2px solid grey
  
}
thead th{
    background-color: rgb(184, 183, 183);
}
tbody tr td:nth-of-type(2){
background-color: yellow;
}

tr:nth-child(2) {
    background-color: yellow;
  }
tr:nth-child(1),
tr:nth-child(3),
tr:nth-child(5) {
  background-color: rgb(218, 218, 203);
}