.first{
    background-color: rgba(0, 255, 255, 0.863);
  
}
.second{
    background-color: rgba(255, 255, 0, 0.833);
}
.third{
    background-color: rgba(255, 255, 0, 0.833);
}
.forth{
    background-color: rgba(255, 255, 0, 0.833);
}
.fifth{
    background-color: rgba(255, 255, 0, 0.833);
}