@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  text-decoration: none;
}
body {
  background-color: #002347;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}
.navbar {
  width: 100%;
  height: 80px;
  background-color: #002347;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1000;
}
.navbar .logo {
  display: flex;
  align-items: center;
}
.navbar .logo img {
  width: 50px;
}
.navbar .logo h5 {
  font-size: 25px;
  font-weight: 900;
  color: #eff4f8;
  cursor: pointer;
}
.navbar .nav-container .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}
.nav-container .nav-links li {
  list-style: none;
}
.nav-container .nav-links li a:hover {
  color: #fdc632;
}
a {
  text-decoration: none;
  color: #e1dee4;
  font-weight: 700;
}
.menu-icon {
  display: none;
}
.hero {
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background-image: url(images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 100px;
  color: #e1dee4;
}
.hero .title p {
  font-size: 30px;
}
.hero .title h1 {
  font-size: 50px;
}
.hero-button {
  display: flex;
  gap: 50px;
}
.hero-button button {
  width: 170px;
  height: 50px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  transition: transform 0.3s ease;
}
.hero-button button:hover {
  transform: scale(1.1);
}
.hero-button .learn button {
  background-color: #002347;
  color: #e1ad1d;
  font-weight: 600;
}
.hero-button .course button {
  color: #002347;
  background-color: #e1ad1d;
  font-weight: 600;
}
.feature {
  width: 100%;
}
.feature .feature-title {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
}
.feature .feature-cards {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  cursor: pointer;
}
.feature .feature-cards .first:hover {
  box-shadow: 0px 0px 15px rgba(243, 240, 240, 0.973);
  transform: translateY(-5px);
}
.feature .feature-cards .first:hover i {
  color: #fd9132;
}
.feature .feature-cards i {
  font-size: 50px;
}
.feature .feature-cards h4 {
  font-weight: 800;
  font-size: larger;
}
.feature .feature-cards .first {
  height: 200px;
  width: 300px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  line-height: 1.7;
  transition: all 0.4s ease;
}

.feature .feature-cards .second {
  height: 200px;
  width: 300px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  line-height: 1.7;
  transition: all 0.4s ease;
}
.feature .feature-cards .second:hover {
  box-shadow: 0px 0px 15px rgba(243, 240, 240, 0.973);
  transform: translateY(-5px);
}
.feature .feature-cards .second:hover i {
  color: #fd9132;
}
.feature .feature-cards .third {
  height: 200px;
  width: 300px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  line-height: 1.7;
  transition: all 0.4s ease;
}
.feature .feature-cards .third:hover {
  box-shadow: 0px 0px 15px rgba(243, 240, 240, 0.973);
  transform: translateY(-5px);
}
.feature .feature-cards .third:hover i {
  color: #fd9132;
}
.experts {
  width: 100%;
}
.experts-title {
  display: flex;
  padding-top: 200px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
}
.experts-cards {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  cursor: pointer;
  flex-wrap: wrap;
}
.experts-cards h3 {
  font-weight: 700;
  font-size: 25px;
}
.experts-cards .card-title {
  display: flex;
  flex-direction: column;
}
.experts-cards .social-medias {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}
.experts-cards .social-medias i {
  font-size: 30px;
}
.experts-cards .social-medias i:hover {
  color: #fd9132;
}

.experts-cards .first-card {
  min-height: 400px;
  width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 100px;
  transition: all 0.4 ease;
  overflow: hidden;
}

.first-card img {
  width: 350px;
  height: 250px;
  border-radius: 100px 100px 0 0;
  object-fit: cover;
}
.experts-cards .first-card:hover {
  box-shadow: 0px 0px 15px rgba(243, 240, 240, 0.973);
  transform: translateY(-5px);
}
.experts-cards .second-card {
  min-height: 400px;
  width: 350px;
  /* background-color: red; */
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 100px;
  transition: all 0.4 ease;
  overflow: hidden;
}

.second-card img {
  width: 350px;
  height: 250px;
  border-radius: 100px 100px 0 0;
  object-fit: cover;
}
.experts-cards .second-card:hover {
  box-shadow: 0px 0px 15px rgba(243, 240, 240, 0.973);
  transform: translateY(-5px);
}

.experts-cards .third-card {
  min-height: 400px;
  width: 350px;
  /* background-color: red; */
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 100px;
  transition: all 0.4 ease;
  overflow: hidden;
}

.third-card img {
  width: 350px;
  height: 250px;
  border-radius: 100px 100px 0 0;
  object-fit: cover;
}
.experts-cards .third-card:hover {
  box-shadow: 0px 0px 15px rgba(243, 240, 240, 0.973);
  transform: translateY(-5px);
}
.footer {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  margin-top: 100px;
}
.footer .footer-title {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
}
.footer .login {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer input {
  width: 300px;
  height: 40px;
  border-radius: 100px;
  padding: 20px;
}
.footer-title h4 {
  font-size: 50px;
}
.footer button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 100px;
  background-color: #e1ad1d;
}
input[type="email"]:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.3);
}

@media (min-width: 790px) and (max-width: 1024px) {
  .nav-container {
    display: none;
  }

  .navbar .logo h5 {
    color: white;
  }
  .menu-icon {
    display: block;
  }
  .menu-icon i {
    color: #e1ad1d;
  }
  .hero .title {
    text-align: center;
  }
  .feature-cards {
    display: flex;
    flex-direction: column;
  }
  .feature-title {
    text-align: center;
  }

  .experts-title {
    text-align: center;
  }
  .experts-cards {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 790px) and (min-width: 480px) {
  .nav-container {
    display: none;
  }
  .navbar .logo h5 {
    color: white;
  }

  .menu-icon {
    display: block;
  }
  .menu-icon i {
    color: #fdc632;
  }
  .hero .title {
    text-align: center;
  }
  .feature-cards {
    display: flex;
    flex-direction: column;
  }
  .feature-title {
    text-align: center;
  }
  .experts-cards {
    display: flex;
    flex-direction: column;
  }
  .experts-title {
    text-align: center;
  }
}
